example - llm with rag/source_docs/
example - llm with rag/venv/
example - llm with ollama and langchain/venv/
lab - rag chatbot with ollama langchain gradio/rag_script_ui_solution.py
lab - rag chatbot with ollama langchain gradio/venv/
lab - rag chatbot with ollama langchain gradio/source_docs/
